  .about-me-img {
    width: 250px;
    height: 250px;
    margin: 0 auto; /* center the element horizontally*/
    display:block;
    transition: all 0.2s ease; /*adds a transition effect when hovering*/
  }
  .about-me-img:hover {
    transform: scale(1.09); /*increase the size of the image*/
    box-shadow: 2px 2px 5px gray; /*adds a shadow to the image*/
  }
  #about-me {
    text-align: center; /* center the child elements*/
}

.img-border {
    border: 2px solid gray;
    transition: all 0.2s ease;
  }

.img-border:hover {
    transform: scale(1.05); /*increase the size of the image*/
    box-shadow: 2px 2px 5px gray; /*adds a shadow to the image*/
  }

  footer {
    text-align: center;
    background-color: #333; /* change the background color*/
    color: #fff; /* change the text color*/
    padding: 1em; /* adds some padding*/
    font-size: 0.9em; /*change the font size*/
  }
  
  .about-me-text {
    text-align: center; /*align the text to center*/
    border: 2px solid #333; /*add a 2px solid black border*/
    padding: 1em; /*add some padding to the text*/
    margin: 1em 0; /*add some margin to the top and bottom of the text*/
    margin-left: 30%;
    margin-right: 30%;
  }

  /* Light theme styles */
body {
    background-color: #fff;
    color: #000;
  }
  
  /* Dark theme styles */
  body.night-mode {
    background-color: #000;
    color: #fff;
  }
  